.edit-main  
  .main-contents
    .h2 作業終了
    = form_with model: [@post], html: {class: "contents"}, local: true do |f|
      = f.text_field :quantity, class: 'contents--quantity', placeholder: '数量'
      = f.text_field :text, class: 'contents--text', placeholder: 'コメント'
      = f.submit 'ストップ', class: 'contents--stop'
    